* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

figure {
  margin: 0; }

.clear {
  clear: both; }

fieldset {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important; }

textarea:focus, input:focus {
  outline: none; }

input, select, textarea {
  border: 0; }

img {
  width: 100%;
  height: auto;
  display: block; }

*:focus {
  outline: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #231f20; }

a {
  color: #212121; }

a:hover {
  color: #ea1c24; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-weight: bold; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

/* mixin for flex */
/* mixin for container */
/* mixin for rotate */
/* mixin for animate */
.animation, a, .header, .aside-menu, .article__tags a, .sticky {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/* mixin for multiline spacing */
/*@function leftSpacing($spacing: 20px) {
    margin-left: $spacing;
}*/
/*! HiDPI v2.0.1 | MIT License | git.io/hidpi */
.home-carousel .carousel-item {
  display: none !important; }
  .home-carousel .carousel-item:first-child {
    display: block !important; }

.container {
  padding: 20px;
  /* 1366+*/ }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 85.375em) {
    .container {
      max-width: 1320px;
      margin-left: auto;
      margin-right: auto; } }

.article__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* 1024+*/
  /* 1366+*/ }
  .article__left .banner.banner__top {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  @media (min-width: 64em) {
    .article__left {
      width: calc(100% - 336px - 40px); } }
  @media (min-width: 85.375em) {
    .article__left .article__aside-left {
      width: 336px; }
    .article__left .article__content {
      width: calc(100% - 336px - 40px); } }

.article__right {
  /* 0 - 1023 */
  /* 1024+*/ }
  @media (min-width: 0) and (max-width: 63.9375em) {
    .article__right {
      width: 100%; } }
  @media (min-width: 64em) {
    .article__right {
      width: 336px; } }

@media only screen and (max-width: 320px) {
  body.archive.author .container,
  body.page-template-customCategory .container,
  body.archive.tag .container,
  body.page-template-allPosts .container,
  body.page-template-popularPosts-php .container,
  body.page-template-search .container {
    padding: 10px; } }
body.hidden .subNav {
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    body.hidden .subNav {
      transform: translateY(-131px); } }

.subNav {
  display: block !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 999;
  background: #4977a5;
  position: sticky;
  top: 0;
  margin-bottom: 0.5rem;
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    .subNav {
      line-height: 45px;
      top: 130px; } }
  .subNav ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      .subNav ul {
        justify-content: space-between; } }
    @media only screen and (max-width: 600px) {
      .subNav ul li {
        flex-grow: 1; }
        .subNav ul li:nth-of-type(2n) {
          background: #4977a5; } }
    .subNav ul li #homeLink {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      cursor: pointer; }
    .subNav ul li a {
      text-transform: uppercase;
      padding: 0.5rem 2.5rem;
      display: block;
      color: white;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      background: #4977a5; }
      .subNav ul li a.highlight {
        background: #355476; }
      @media only screen and (max-width: 600px) {
        .subNav ul li a {
          font-weight: bold;
          font-size: 12px;
          padding: 1rem 0.7rem; } }
      @media only screen and (max-width: 389px) {
        .subNav ul li a {
          font-size: 8px; } }
      .subNav ul li a:hover {
        background: #355476; }
    .subNav ul li #backToBaseHome {
      /* 1366+*/
      width: 32px; }
      @media (min-width: 85.375em) {
        .subNav ul li #backToBaseHome {
          width: 50px; } }

.header {
  z-index: 999;
  /* 1366+*/
  background: #FFFFFF; }
  .header .sportTopBar {
    background: #355476;
    height: 30px;
    padding-right: 2rem;
    /* 0 - 1365 */ }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .header .sportTopBar {
        display: none; } }
    .header .sportTopBar .social {
      height: 100%;
      align-items: center; }
      .header .sportTopBar .social ul li a {
        width: 24px;
        height: 24px; }
        .header .sportTopBar .social ul li a span {
          display: flex; }
          .header .sportTopBar .social ul li a span svg {
            color: white;
            font-size: 0.9rem; }
  .header.sportHeader .header__top {
    justify-content: unset;
    padding: 0; }
    .header.sportHeader .header__top > * {
      flex: unset; }
    .header.sportHeader .header__top .menu {
      padding-right: 2rem;
      display: flex;
      align-items: center;
      margin-left: auto;
      /* 0 - 1365 */ }
      @media (min-width: 0) and (max-width: 85.3125em) {
        .header.sportHeader .header__top .menu {
          height: 20px;
          padding-right: 0.5rem; } }
    .header.sportHeader .header__top .dummyDiv {
      width: 38.5%;
      background: #e12027;
      height: 100px; }
      @media only screen and (width: 1536px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 36%; } }
      @media only screen and (width: 1440px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 35%; } }
      @media only screen and (width: 1366px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 34.5%; } }
      @media only screen and (width: 1280px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 33%; } }
      @media only screen and (width: 1240px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 33.5%; } }
      @media only screen and (width: 1024px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 29.5%; } }
      @media only screen and (width: 768px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 22.5%; } }
      @media only screen and (max-width: 767px) {
        .header.sportHeader .header__top .dummyDiv {
          width: 18%;
          height: 56px; } }
      .header.sportHeader .header__top .dummyDiv.appDummyDiv {
        width: 1%; }
    .header.sportHeader .header__top .logo {
      position: relative;
      display: flex; }
      .header.sportHeader .header__top .logo .backArrow {
        color: white;
        background: #e12027;
        display: flex;
        align-items: flex-start;
        padding: 1rem 0.5rem;
        min-width: 26px; }
        @media only screen and (width: 768px) {
          .header.sportHeader .header__top .logo .backArrow {
            padding: 0.6rem 0.5rem; } }
        @media only screen and (max-width: 767px) {
          .header.sportHeader .header__top .logo .backArrow {
            padding: 0.3rem 0.5rem; } }
      .header.sportHeader .header__top .logo a {
        position: absolute;
        width: 160px;
        height: 100%; }
      .header.sportHeader .header__top .logo img {
        width: 320px;
        /* 0 - 767 */ }
        @media (min-width: 0) and (max-width: 47.9375em) {
          .header.sportHeader .header__top .logo img {
            width: 180px; } }
    .header.sportHeader .header__top .backButtonWrapper {
      width: 10%;
      text-align: center; }
    .header.sportHeader .header__top .reloadButtonWrapper {
      width: 10%;
      text-align: center; }
  @media (min-width: 85.375em) {
    .header {
      position: sticky;
      top: 0; } }
  .header .header__top {
    /* 0 - 1023 */
    /* 1024+*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 0) and (max-width: 63.9375em) {
      .header .header__top {
        padding: 10px 20px; } }
    @media (min-width: 64em) {
      .header .header__top {
        padding: 20px; } }
    .header .header__top > * {
      flex: 1; }
  .header .menu__button {
    cursor: pointer; }
    .header .menu__button .fa-bars {
      /* 1366+*/ }
      @media (min-width: 85.375em) {
        .header .menu__button .fa-bars {
          font-size: 25px; } }
  .header .menu svg:last-child {
    background: #fff;
    position: relative;
    top: 8px;
    left: -10px;
    border-radius: 50%;
    padding: 1px;
    width: 17px;
    height: 17px;
    transform: rotate(90deg);
    /* 1366+*/ }
    @media (min-width: 85.375em) {
      .header .menu svg:last-child {
        width: 25px;
        height: 25px; } }
  .header .logo a {
    /* 0 - 1365 */
    width: 320px;
    margin: 0 auto;
    display: block; }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .header .logo a {
        width: 180px; } }
  .header .social {
    justify-content: flex-end;
    /* 0 - 1365 */ }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .header .social ul {
        display: none; } }
  .header .header__bottom {
    border-top: 1px solid #ebebeb;
    /* 1366+*/ }
    .header .header__bottom.categoryHeader {
      display: none; }
    @media (min-width: 85.375em) {
      .header .header__bottom {
        border-bottom: 1px solid #ebebeb; } }
    .header .header__bottom .container {
      padding: 0; }
      .header .header__bottom .container.containerHeader {
        max-width: 1400px;
        padding: 0; }
  .header nav {
    width: 100%;
    /* 0 - 1365 */ }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .header nav {
        display: none; } }
    .header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      .header nav ul .highlightCategoryHeader {
        background: #ea1c24;
        color: white; }
        .header nav ul .highlightCategoryHeader a {
          color: white; }
      .header nav ul a {
        -webkit-transition: hover 300ms ease;
        -moz-transition: hover 300ms ease;
        -o-transition: hover 300ms ease;
        transition: hover 300ms ease;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: .4px;
        display: block;
        padding: 0 0.5rem; }
      .header nav ul img {
        width: auto;
        height: 60px; }
      .header nav ul .active {
        position: relative; }
        .header nav ul .active a {
          color: #ea1c24; }
        .header nav ul .active:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          background: #ea1c24;
          width: 100%; }
      .header nav ul .mainNavSportLink {
        background: #34679b;
        transition: 0.3s ease all; }
        .header nav ul .mainNavSportLink:hover {
          background: #4977a5; }
        .header nav ul .mainNavSportLink a {
          color: white; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .social li {
    float: left;
    margin-left: 12px; }
    .social li:first-child {
      margin-left: 0; }
    .social li a {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: 1px solid #ebebeb;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center; }
      .social li a:hover {
        background: #ea1c24;
        border-color: #ea1c24; }
        .social li a:hover svg {
          color: #ffffff; }

@media (min-width: 85.375em) {
  body.hidden .header {
    transform: translateY(-100px); } }
/* 1366+*/
.header nav ul .sponsor {
  display: flex; }

nav ul .sponsor {
  display: flex; }

.aside-menu__scroll .sponsor__logo span {
  color: white; }

.header nav ul .sponsor a:first-child {
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    .header nav ul .sponsor a:first-child {
      padding-right: 0; } }

.header nav ul .sponsor a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }

.header nav ul .sponsor__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }
  .header nav ul .sponsor__logo span {
    margin: 0 5px; }
  .header nav ul .sponsor__logo img {
    height: 40px; }

.aside-menu__scroll .sponsor a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }

.aside-menu__scroll .sponsor__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-left: auto; }
  .aside-menu__scroll .sponsor__logo span {
    margin: 0 5px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase; }
  .aside-menu__scroll .sponsor__logo img {
    height: 40px; }

.specialSubSportCategoryLink {
  order: 3; }

.specialSubSportCategoryLink a {
  background: #ff05ed !important;
  background: linear-gradient(160deg, #ff05ed 0%, #88163a 0%, #310520 100%) !important; }

@media (max-width: 1365px) {
  .hiddenSubItem {
    display: none; } }
.footer {
  font-size: 14px;
  margin: 40px 0; }
  .footer .container {
    /* 1366+*/
    border-top: 2px solid #ea1c24; }
    @media (min-width: 85.375em) {
      .footer .container {
        padding: 40px;
        border-bottom: 1px solid #ebebeb; } }

.footer__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /* 0 - 767 */
  justify-content: space-between;
  padding-bottom: 40px; }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .footer__top {
      flex-direction: column; } }
  .footer__top h3 {
    font-weight: bold;
    margin-bottom: 20px; }
  .footer__top li {
    margin-bottom: 10px; }

.footer__menu {
  /* 768+ */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  /* 0 - 767 */ }
  @media (min-width: 48em) {
    .footer__menu {
      width: 75%; } }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .footer__menu {
      flex-direction: column; } }
  .footer__menu h3 {
    width: 100%; }
  .footer__menu ul {
    /* 768+ */ }
    @media (min-width: 48em) {
      .footer__menu ul {
        flex: 1; } }

.footer__social {
  /* 0 - 767 */
  /* 768+ */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .footer__social {
      margin-top: 20px; } }
  @media (min-width: 48em) {
    .footer__social {
      width: 25%; } }
  .footer__social span {
    width: 18px;
    display: inline-block; }

.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  /* 0 - 767 */ }
  @media only screen and (max-width: 320px) {
    .footer__bottom ul {
      font-size: 12px; } }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .footer__bottom {
      flex-direction: column; }
      .footer__bottom span {
        padding-top: 20px; } }
  .footer__bottom nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer__bottom nav ul li a:after {
      content: "|";
      display: inline-block;
      position: relative;
      top: 0;
      right: 0;
      padding-left: 12px;
      padding-right: 12px;
      box-sizing: border-box; }
    .footer__bottom nav ul li:last-child a:after {
      content: none; }

.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.news__item {
  /* 0 - 1365 */
  /* 1366+*/
  /* 0 - 767 */
  /* 768+ */ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .news__item {
      margin-bottom: 20px; } }
  @media (min-width: 85.375em) {
    .news__item {
      margin-bottom: 30px; } }
  .news__item .news__category {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* 0 - 767 */
    /* 768+ */ }
    @media (min-width: 0) and (max-width: 47.9375em) {
      .news__item .news__category {
        margin-top: -8px; } }
    @media (min-width: 48em) {
      .news__item .news__category {
        margin: 5px 0 3px; } }
    .news__item .news__category br {
      display: none; }
    .news__item .news__category a {
      color: #ea1c24;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      /* 1366+*/ }
      @media (min-width: 85.375em) {
        .news__item .news__category a {
          font-size: 16px;
          font-weight: bold; } }
    .news__item .news__category .postDate {
      font-size: 12px;
      color: grey; }
  .news__item p {
    margin-top: 5px;
    /* 0 - 767 */ }
    @media (min-width: 0) and (max-width: 47.9375em) {
      .news__item p {
        display: none; } }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .news__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #ebebeb;
      width: 100%; }
      .news__item > a {
        width: 120px; }
      .news__item > div {
        color: yellow;
        margin-top: 0;
        width: calc(100% - 120px - 20px); }
      .news__item h1, .news__item h2, .news__item h3 {
        font-size: 16px;
        font-weight: normal; } }
  @media (min-width: 48em) {
    .news__item h1, .news__item h2, .news__item h3 {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.25em; } }
  .news__item .sportCategoryName .news__category .categoryAuthor a {
    color: #34679b; }
  .news__item .sportCategoryName h2 a:hover {
    color: #34679b; }

.items__2:not(.news--featured) .news__item, .items__3:not(.news--featured) .news__item, .items__4:not(.news--featured) .news__item, .items__5:not(.news--featured) .news__item {
  /* 0 - 767 */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .items__2:not(.news--featured) .news__item:first-child, .items__3:not(.news--featured) .news__item:first-child, .items__4:not(.news--featured) .news__item:first-child, .items__5:not(.news--featured) .news__item:first-child {
      position: relative;
      width: 100%; }
      .items__2:not(.news--featured) .news__item:first-child a, .items__3:not(.news--featured) .news__item:first-child a, .items__4:not(.news--featured) .news__item:first-child a, .items__5:not(.news--featured) .news__item:first-child a {
        width: 100%; }
      .items__2:not(.news--featured) .news__item:first-child > div, .items__3:not(.news--featured) .news__item:first-child > div, .items__4:not(.news--featured) .news__item:first-child > div, .items__5:not(.news--featured) .news__item:first-child > div {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        padding: 20px;
        background: rgba(49, 55, 67, 0.3); }
        .items__2:not(.news--featured) .news__item:first-child > div.sportCategoryName .categoryAuthor a, .items__3:not(.news--featured) .news__item:first-child > div.sportCategoryName .categoryAuthor a, .items__4:not(.news--featured) .news__item:first-child > div.sportCategoryName .categoryAuthor a, .items__5:not(.news--featured) .news__item:first-child > div.sportCategoryName .categoryAuthor a {
          color: white; }
      .items__2:not(.news--featured) .news__item:first-child > div > span > a, .items__3:not(.news--featured) .news__item:first-child > div > span > a, .items__4:not(.news--featured) .news__item:first-child > div > span > a, .items__5:not(.news--featured) .news__item:first-child > div > span > a {
        width: 70%; }
      .items__2:not(.news--featured) .news__item:first-child figure .icon, .items__3:not(.news--featured) .news__item:first-child figure .icon, .items__4:not(.news--featured) .news__item:first-child figure .icon, .items__5:not(.news--featured) .news__item:first-child figure .icon {
        left: 20px;
        top: 20px;
        transform: none; }
      .items__2:not(.news--featured) .news__item:first-child h1, .items__2:not(.news--featured) .news__item:first-child h2, .items__2:not(.news--featured) .news__item:first-child h3, .items__3:not(.news--featured) .news__item:first-child h1, .items__3:not(.news--featured) .news__item:first-child h2, .items__3:not(.news--featured) .news__item:first-child h3, .items__4:not(.news--featured) .news__item:first-child h1, .items__4:not(.news--featured) .news__item:first-child h2, .items__4:not(.news--featured) .news__item:first-child h3, .items__5:not(.news--featured) .news__item:first-child h1, .items__5:not(.news--featured) .news__item:first-child h2, .items__5:not(.news--featured) .news__item:first-child h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.25em; }
        .items__2:not(.news--featured) .news__item:first-child h1 a, .items__2:not(.news--featured) .news__item:first-child h2 a, .items__2:not(.news--featured) .news__item:first-child h3 a, .items__3:not(.news--featured) .news__item:first-child h1 a, .items__3:not(.news--featured) .news__item:first-child h2 a, .items__3:not(.news--featured) .news__item:first-child h3 a, .items__4:not(.news--featured) .news__item:first-child h1 a, .items__4:not(.news--featured) .news__item:first-child h2 a, .items__4:not(.news--featured) .news__item:first-child h3 a, .items__5:not(.news--featured) .news__item:first-child h1 a, .items__5:not(.news--featured) .news__item:first-child h2 a, .items__5:not(.news--featured) .news__item:first-child h3 a {
          color: #ffffff; }
      .items__2:not(.news--featured) .news__item:first-child .news__category, .items__3:not(.news--featured) .news__item:first-child .news__category, .items__4:not(.news--featured) .news__item:first-child .news__category, .items__5:not(.news--featured) .news__item:first-child .news__category {
        font-weight: bold; }
      .items__2:not(.news--featured) .news__item:first-child .postDate, .items__3:not(.news--featured) .news__item:first-child .postDate, .items__4:not(.news--featured) .news__item:first-child .postDate, .items__5:not(.news--featured) .news__item:first-child .postDate {
        color: white; } }

.featuredFirst .news__item {
  /* 0 - 767 */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .featuredFirst .news__item {
      position: relative;
      width: 100%;
      min-width: 280px; }
      .featuredFirst .news__item a {
        width: 100%; }
      .featuredFirst .news__item > div {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        padding: 20px;
        background: rgba(49, 55, 67, 0.3); }
        .featuredFirst .news__item > div.sportCategoryName .categoryAuthor a {
          color: white; }
      .featuredFirst .news__item > div > span > a {
        width: 70%; }
      .featuredFirst .news__item figure .icon {
        left: 20px;
        top: 20px;
        transform: none; }
      .featuredFirst .news__item h1, .featuredFirst .news__item h2, .featuredFirst .news__item h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.25em; }
        .featuredFirst .news__item h1 a, .featuredFirst .news__item h2 a, .featuredFirst .news__item h3 a {
          color: #ffffff; }
      .featuredFirst .news__item .news__category {
        font-weight: bold; }
      .featuredFirst .news__item .postDate {
        color: white; } }

.news--over-img .news__item {
  /* 1024+*/ }
  @media (min-width: 64em) {
    .news--over-img .news__item {
      position: relative; }
      .news--over-img .news__item a {
        width: 100%; }
      .news--over-img .news__item .catWithPostDate {
        width: 70%; }
      .news--over-img .news__item > div {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background: rgba(49, 55, 67, 0.3); }
      .news--over-img .news__item figure .icon {
        left: 20px;
        top: 20px;
        transform: none; }
      .news--over-img .news__item h1, .news--over-img .news__item h2, .news--over-img .news__item h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4em; }
        .news--over-img .news__item h1 a, .news--over-img .news__item h2 a, .news--over-img .news__item h3 a {
          color: #ffffff; }
      .news--over-img .news__item .news__category {
        font-weight: bold; }
        .news--over-img .news__item .news__category a {
          background: #ea1c24;
          color: #ffffff;
          padding: 0 5px; } }

.items__2 .news__item {
  /* 768+ */ }
  @media (min-width: 48em) {
    .items__2 .news__item {
      width: calc(100% / 2 - 15px); } }

.items__3 .news__item {
  /* 768+ */ }
  @media (min-width: 48em) {
    .items__3 .news__item {
      width: calc(100% / 3 - 20px); } }

.items__4 .news__item {
  /* 768+ */ }
  @media (min-width: 48em) {
    .items__4 .news__item {
      width: calc(100% / 4 - 15px); } }

.items__5 .news__item {
  /* 768+ */ }
  @media (min-width: 48em) {
    .items__5 .news__item:nth-child(-n+2) {
      width: calc(100% / 2 - 15px); }
      .items__5 .news__item:nth-child(-n+2) h1, .items__5 .news__item:nth-child(-n+2) h2, .items__5 .news__item:nth-child(-n+2) h3 {
        font-size: 24px; }
    .items__5 .news__item:nth-child(n+3) {
      width: calc(100% / 3 - 20px); } }

.box__right section .news .news__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  width: 100%; }
  .box__right section .news .news__item .news__category {
    margin-top: -8px; }
  .box__right section .news .news__item > a {
    width: 120px; }
  .box__right section .news .news__item > div {
    margin-top: 0;
    width: calc(100% - 120px - 20px); }
  .box__right section .news .news__item h1, .box__right section .news .news__item h2, .box__right section .news .news__item h3 {
    font-size: 16px;
    font-weight: normal; }

.article__bottom .news__item {
  /* 0 - 767 */
  /* 768 - 1023 */
  /* 1024+*/ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .article__bottom .news__item {
      width: 100%; }
      .article__bottom .news__item:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0; } }
  @media (min-width: 48em) and (max-width: 63.9375em) {
    .article__bottom .news__item {
      width: calc(100% / 2 - 20px); } }
  @media (min-width: 64em) {
    .article__bottom .news__item {
      width: calc(100% / 4 - 7px); } }

.gfHidden {
  display: none; }

.gfShow {
  display: block; }

.aside-menu {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1a1a1a;
  z-index: 9999;
  /* 0 - 767 */
  /* 768+ */
  /* 1366+*/ }
  .aside-menu.active {
    transform: translateX(0); }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .aside-menu {
      width: calc(100% - 65px); } }
  @media (min-width: 48em) {
    .aside-menu {
      width: 360px; } }
  @media (min-width: 85.375em) {
    .aside-menu {
      width: 400px; } }
  .aside-menu ul {
    padding-bottom: 35px; }
  .aside-menu li {
    /* 0 - 1365 */
    /* 1366+*/ }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .aside-menu li {
        padding: 10px 0; } }
    @media (min-width: 85.375em) {
      .aside-menu li {
        padding-bottom: 10px; } }
    .aside-menu li a {
      color: #ffffff;
      font-weight: bold;
      /* 0 - 1365 */
      /* 1366+*/
      line-height: 1em; }
      @media (min-width: 0) and (max-width: 85.3125em) {
        .aside-menu li a {
          font-size: 22px; } }
      @media (min-width: 85.375em) {
        .aside-menu li a {
          font-size: 40px; } }
      .aside-menu li a:hover {
        color: #ea1c24; }
    .aside-menu li.active a {
      color: #ea1c24; }
  .aside-menu .categoryMenuLink a {
    color: #34679b; }
  .aside-menu img {
    width: auto; }

.aside-menu__scroll {
  padding: 20px;
  /* 1366+*/
  overflow-y: scroll; }
  @media (min-width: 85.375em) {
    .aside-menu__scroll {
      padding: 0 40px; } }

.aside-menu__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  /* 0 - 1365 */
  /* 1366+*/ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .aside-menu__top {
      flex-direction: column; } }
  @media (min-width: 85.375em) {
    .aside-menu__top {
      align-items: center; } }

.aside-menu__close {
  color: #fff;
  /* 0 - 1365 */
  /* 1366+*/
  font-size: 26px;
  cursor: pointer; }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .aside-menu__close {
      padding: 10px 0 10px 20px;
      width: 100%; } }
  @media (min-width: 85.375em) {
    .aside-menu__close {
      padding: 35px 0 35px 20px; } }

.aside-menu__search {
  /* 0 - 1365 */
  /* 1366+*/
  background: #1a1a1a;
  border-bottom: 1px solid #595959; }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .aside-menu__search {
      margin: 0 20px 10px;
      z-index: 1; } }
  @media (min-width: 85.375em) {
    .aside-menu__search {
      margin-right: 40px; } }
  .aside-menu__search input[type=search] {
    border: 0;
    background: transparent;
    /* 0 - 1365 */
    /* 1366+*/
    font-weight: bold;
    color: #595959; }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .aside-menu__search input[type=search] {
        font-size: 22px;
        width: calc(100% - 47px); } }
    @media (min-width: 85.375em) {
      .aside-menu__search input[type=search] {
        font-size: 42px;
        width: 90%;
        padding-left: 10px; } }
  .aside-menu__search button {
    color: #ffffff;
    border: 0;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    /* 0 - 1365 */ }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .aside-menu__search button {
        padding: 10px; } }
    .aside-menu__search button:hover {
      color: #ea1c24; }

::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(49, 55, 67, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index: 9999; }
  .overlay.active {
    opacity: 1;
    visibility: visible; }

figure {
  position: relative; }
  figure .icon {
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ffffff;
    color: #ea1c24;
    width: 38px;
    height: 38px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.slick-arrow:before {
  color: red !important;
  font-size: 40px !important; }

.slick-next {
  margin-right: 6px !important; }

.slick-prev {
  left: -44px; }

.oldGallery {
  width: 70%; }
  .oldGallery .firstImageOldGallery {
    position: relative; }
    .oldGallery .firstImageOldGallery .firstImageContent .caption {
      padding-right: 1rem;
      text-align: right;
      color: #FFF;
      font-style: italic;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); }
  .oldGallery .restOfTheImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem; }
    .oldGallery .restOfTheImages a {
      transition: transform .2s;
      max-width: 100px;
      max-height: 80px;
      margin-right: 10px;
      margin-top: 10px;
      /* 1366+*/ }
      @media (min-width: 85.375em) {
        .oldGallery .restOfTheImages a:hover {
          transform: scale(1.3); } }
      .oldGallery .restOfTheImages a:last-child {
        margin-right: 0; }
      .oldGallery .restOfTheImages a img {
        width: 100%;
        height: 100%; }

#cmpboxrecall {
  right: 29px;
  bottom: 66px;
  left: unset; }

.cmpboxrecalllink img {
  width: 20px; }

.cmplogo2 img {
  width: 16px; }

@media only screen and (max-width: 1024px) {
  .euroblic {
    display: none; } }
.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    .box {
      margin-top: 10px; } }

.box--center {
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    .box--center {
      align-items: center; } }

.box__left {
  /* 0 - 1365 */
  /* 1366+*/ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .box__left {
      width: 100%; } }
  @media (min-width: 85.375em) {
    .box__left {
      width: calc(100% - 336px - 30px);
      padding-right: 30px;
      border-right: 1px solid #ebebeb; } }

.box__right {
  /* 0 - 1365 */
  /* 768 - 1365 */
  /* 768 - 1365 */
  /* 1366+*/ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .box__right {
      width: 100%; } }
  @media (min-width: 48em) and (max-width: 85.3125em) {
    .box__right {
      flex-direction: column; } }
  @media (min-width: 48em) and (max-width: 85.3125em) {
    .box__right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 85.375em) {
    .box__right {
      width: 336px; } }

.box__right--center {
  /* 768 - 1365 */ }
  @media (min-width: 48em) and (max-width: 85.3125em) {
    .box__right--center {
      flex-direction: initial;
      justify-content: space-evenly; } }

.box__title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ea1c24;
  border-bottom: 8px solid #ea1c24;
  display: inline-block;
  margin-bottom: 20px; }
  .box__title a {
    color: #ea1c24; }
  .box__title.sportCategoryTitle {
    color: #34679b;
    border-bottom: none;
    background: #34679b;
    width: 100%; }
    .box__title.sportCategoryTitle a {
      padding-left: 1rem;
      color: white; }

.euroblic {
  text-align: center;
  background: #F2F5F7;
  position: relative;
  /* 0 - 767 */
  /* 768 - 1365 */
  /* 1366+*/ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .euroblic {
      margin-bottom: 20px; } }
  @media (min-width: 48em) and (max-width: 85.3125em) {
    .euroblic {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      width: 300px;
      height: 250px; } }
  @media (min-width: 85.375em) {
    .euroblic {
      margin-bottom: 20px; } }
  .euroblic img {
    width: 160px;
    margin: 0 auto; }
  .euroblic span {
    color: #ea1c24;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transform: rotate(-270deg);
    position: absolute;
    right: 0;
    top: 50%; }
  .euroblic strong {
    display: block;
    font-size: 14px; }

.sportCategory .news__item {
  /* 0 - 767 */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .sportCategory .news__item {
      border-bottom: 1px solid #34679b; } }

.news--featured .news__item {
  /* 0 - 767 */
  /* 0 - 1023 */
  /* 768+ */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .news--featured .news__item {
      width: calc(100%/3 - 10px);
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      flex-direction: column;
      justify-content: initial; }
      .news--featured .news__item > a, .news--featured .news__item > div {
        width: 100%; }
      .news--featured .news__item .news__category {
        display: none; }
      .news--featured .news__item h3 {
        margin-top: 25px; } }
  @media (min-width: 0) and (max-width: 63.9375em) {
    .news--featured .news__item figure .icon {
      top: auto;
      bottom: 0;
      transform: translate(-50%, 50%); } }
  @media (min-width: 48em) {
    .news--featured .news__item {
      margin-bottom: 0; } }

.fa-smile {
  animation: smile 5s infinite; }

.fa-thumbs-up {
  animation: up 5s infinite; }

.fa-thumbs-down {
  animation: down 5s infinite; }

@keyframes smile {
  10% {
    transform: scale(1.5); }
  20% {
    transform: scale(1); }
  30% {
    transform: scale(1.5); }
  40% {
    transform: scale(1); } }
@keyframes up {
  10% {
    transform: rotate(-15deg) scale(1.5); }
  20% {
    transform: rotate(0deg) scale(1); }
  30% {
    transform: rotate(-15deg) scale(1.5); }
  40% {
    transform: rotate(0deg) scale(1); } }
@keyframes down {
  10% {
    transform: rotate(15deg) scale(1.5); }
  20% {
    transform: rotate(0deg) scale(1); }
  30% {
    transform: rotate(15deg) scale(1.5); }
  40% {
    transform: rotate(0deg) scale(1); } }
.gray {
  background: #F2F5F7;
  /* 768+ */ }
  @media (min-width: 48em) {
    .gray {
      padding: 10px 0; } }

.newsletter {
  width: 100%; }
  .newsletter h4 {
    /* 0 - 767 */
    /* 768+ */
    font-weight: bold; }
    @media (min-width: 0) and (max-width: 47.9375em) {
      .newsletter h4 {
        font-size: 32px; } }
    @media (min-width: 48em) {
      .newsletter h4 {
        font-size: 50px; } }
  .newsletter p {
    /* 0 - 767 */
    /* 768+ */ }
    @media (min-width: 0) and (max-width: 47.9375em) {
      .newsletter p {
        margin-bottom: 10px; } }
    @media (min-width: 48em) {
      .newsletter p {
        margin: -5px 0 10px; } }
  .newsletter form {
    border-bottom: 1px solid #231f20;
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .newsletter input {
    background: none;
    border: 0;
    font-size: 24px;
    font-weight: bold;
    width: 100%; }
    .newsletter input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: initial; }
    .newsletter input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: initial; }
    .newsletter input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: initial; }
    .newsletter input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: initial; }
  .newsletter button {
    background: none;
    border: 0;
    color: #ea1c24;
    font-size: 16px;
    cursor: pointer; }

.fb__page {
  text-align: center;
  /* 0 - 767 */
  /* 768 - 1365 */ }
  @media only screen and (max-width: 320px) {
    .fb__page {
      width: 300px !important; }
      .fb__page iframe {
        width: 300px !important; }
      .fb__page .fb-page span {
        width: 300px !important; } }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .fb__page {
      margin: 20px auto 0; } }
  @media (min-width: 48em) and (max-width: 85.3125em) {
    .fb__page {
      margin: 40px auto 0; } }

.subNav > ul {
  width: 100%;
  overflow-x: scroll; }

.subNav > ul > li,
.subNav > ul > li > a {
  width: max-content; }

.subNav > ul {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */ }

.subNav > ul::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */ }

.article {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .article .author {
    font-size: 14px;
    margin-bottom: 2px; }
    .article .author a {
      font-weight: bold; }
  .article time {
    overflow: auto;
    display: block; }
  .article .date, .article .time {
    font-size: 14px;
    float: left; }
  .article .time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    .article .time svg {
      color: #595959;
      font-size: 8px;
      margin: 0 5px;
      position: relative;
      top: 1px; }
      .article .time svg.fa-circle {
        font-size: 3px; }

.article__top {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px; }
  .article__top figure {
    /* 1024+*/ }
    @media (min-width: 64em) {
      .article__top figure {
        position: unset;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        /* 1024+*/ } }
  @media (min-width: 64em) and (min-width: 64em) {
    .article__top figure {
      width: 50%; } }

  .article__top figcaption {
    width: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 45px;
    font-size: 10px;
    /* 0 - 1023 */
    right: 0;
    text-align: right;
    padding: 5px 20px;
    color: white;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 24px;
    overflow: hidden; }
    @media (min-width: 0) and (max-width: 63.9375em) {
      .article__top figcaption {
        bottom: 0;
        font-size: 8px; } }
  .article__top.articleSportTop .categoryPageNameLink {
    color: #34679b; }

.captionImageCaption {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  padding: 5px 20px;
  display: block;
  max-height: unset;
  width: 100%;
  /* 1024+*/ }
  @media (min-width: 64em) {
    .captionImageCaption {
      width: auto;
      right: 0;
      text-align: right;
      color: white;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      max-height: 24px;
      overflow: hidden; } }

.article__top-content {
  /* 0 - 1023 */
  /* 1024+*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 0) and (max-width: 63.9375em) {
    .article__top-content {
      padding: 20px; } }
  @media (min-width: 64em) {
    .article__top-content {
      width: 50%;
      background: #ea1c240d;
      padding: 40px; } }
  .article__top-content h1 {
    /* 0 - 1365 */
    /* 1366+*/
    font-weight: bold; }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .article__top-content h1 {
        font-size: 26px;
        line-height: 1.15em;
        margin: 10px 0 20px; } }
    @media (min-width: 85.375em) {
      .article__top-content h1 {
        font-size: 52px;
        line-height: 1em;
        margin: 20px 0; } }
  .article__top-content h2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px; }
    .article__top-content h2 a {
      color: #ea1c24; }
  .article__top-content p {
    font-size: 18px;
    line-height: 1.4em; }

.article__center {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px; }
  .article__center.articleSport .article__tags a:before {
    color: #34679b; }
  .article__center.articleSport .article__tags a:hover {
    background: #34679b; }
    .article__center.articleSport .article__tags a:hover:before {
      color: white; }
  .article__center.articleSport .author a:hover {
    color: #34679b; }
  .article__center.articleSport .article__related h3 {
    color: #34679b;
    border-bottom: 8px solid #34679b; }
  .article__center.articleSport .article__related ul li svg {
    color: #34679b; }
  .article__center.articleSport .article__related ul li a:hover {
    color: #34679b; }
  .article__center.articleSport blockquote:before {
    background: #34679b; }
  .article__center.articleSport .aklawidgets .box__title {
    color: #34679b;
    border-bottom: 8px solid #34679b; }
  .article__center.articleSport .aklawidgets span {
    color: #34679b !important; }

.article__content {
  word-break: break-word; }
  @media only screen and (max-width: 500px) {
    .article__content iframe {
      max-width: 90%; }
    .article__content .pulsembed_embed iframe {
      max-width: 100%; }
    .article__content .wp-block-embed-youtube iframe {
      max-width: 100%; }
    .article__content .wp-block-embed-twitter {
      max-width: 100% !important; }
      .article__content .wp-block-embed-twitter .twitter-tweet iframe {
        max-width: 100%; }
    .article__content .banner iframe {
      max-width: 100%; } }
  .article__content .banner.banner__top {
    width: fit-content; }
  .article__content > #InText_1,
  .article__content #InText_2,
  .article__content #Billboard_UnderArticle {
    display: flex;
    justify-content: center; }
  .article__content .jig-caption-title {
    text-transform: uppercase; }
  .article__content h1, .article__content h2, .article__content h3, .article__content h4, .article__content h5, .article__content h6 {
    font-weight: bold; }
  .article__content figure {
    /* 0 - 767 */
    /* 768+ */ }
    @media (min-width: 0) and (max-width: 47.9375em) {
      .article__content figure {
        margin: 20px 0; } }
    @media (min-width: 48em) {
      .article__content figure {
        margin: 20px 0; } }
  .article__content figcaption {
    font-size: 10px;
    /* 0 - 1023 */
    padding: 5px 0 0;
    text-align: center;
    color: white; }
    @media (min-width: 0) and (max-width: 63.9375em) {
      .article__content figcaption {
        bottom: 0;
        font-size: 8px; } }
  .article__content p {
    font-size: 18px;
    line-height: 1.4em;
    margin-bottom: 16px; }
    .article__content p a {
      color: #ea1c24;
      text-decoration: underline; }
  .article__content > p:first-child::first-letter {
    /* 0 - 767 */
    /* 768+ */
    font-weight: bold;
    letter-spacing: 0;
    color: #1a1a1a;
    float: left; }
    @media (min-width: 0) and (max-width: 47.9375em) {
      .article__content > p:first-child::first-letter {
        font-size: 3rem;
        line-height: 1em;
        margin: 0 10px 0px 0; } }
    @media (min-width: 48em) {
      .article__content > p:first-child::first-letter {
        font-size: 7.5rem;
        line-height: 6rem;
        margin: 0 20px 20px 0; } }
  .article__content blockquote {
    /* 0 - 767 */
    /* 768+ */
    /* 1366+*/
    float: left;
    clear: left;
    padding-top: 16px;
    position: relative; }
    .article__content blockquote p {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4em;
      letter-spacing: -2px; }
    @media (min-width: 0) and (max-width: 47.9375em) {
      .article__content blockquote {
        width: 100%;
        margin-top: 20px; }
        .article__content blockquote p {
          font-size: 18px; } }
    @media (min-width: 48em) {
      .article__content blockquote {
        max-width: 360px;
        margin: 60px 60px 50px 0; } }
    @media (min-width: 85.375em) {
      .article__content blockquote {
        margin-left: -180px; } }
    .article__content blockquote:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #ea1c24;
      width: 120px;
      height: 8px; }

.article__related {
  /* 0 - 767 */
  /* 768+ */
  /* 1366+*/
  float: left;
  clear: left; }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .article__related {
      width: 100%;
      margin-bottom: 20px;
      float: none; } }
  @media (min-width: 48em) {
    .article__related {
      max-width: 360px;
      margin: 24px 40px 20px 0;
      float: none; } }
  @media (min-width: 85.375em) {
    .article__related {
      margin-left: -180px;
      float: left; } }
  .article__related h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ea1c24;
    border-bottom: 8px solid #ea1c24;
    display: inline-block;
    position: relative;
    bottom: -8px; }
  .article__related ul {
    padding: 20px;
    border: 8px solid #ea1c240d; }
  .article__related li {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .article__related li:first-child {
      margin-top: 0; }
    .article__related li svg {
      color: #ea1c24;
      font-size: 14px;
      margin: 2px 5px 0 0; }
    .article__related li a:hover {
      color: #ea1c24; }

.article__aside-left .social {
  width: 100%;
  margin: 20px 0; }
  .article__aside-left .social button {
    background-color: white;
    border: none;
    outline: none;
    font-size: 20px;
    padding-right: 10px; }

.relatedBy .sportRelatedBy .box__title {
  color: #34679b;
  border-bottom: 8px solid #34679b; }
.relatedBy .sportRelatedBy .news .news__item .news__category a {
  color: #34679b; }
.relatedBy .sportRelatedBy .news .news__item h3 a:hover {
  color: #34679b; }
@media only screen and (max-width: 767px) {
  .relatedBy .box .news__item div h3 a {
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; } }

.article__bottom {
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .article__bottom .relatedBy {
      padding: 0; } }

.article__comments {
  background: #F2F5F7; }
  .article__comments .container {
    padding: 20px 0; }
    .article__comments .container p {
      font-size: 14px;
      font-weight: bold;
      padding: 0 20px 10px;
      text-align: center; }

.article__tags a {
  font-size: 13px;
  line-height: 33px;
  border-radius: 16.5px;
  padding: 0 14px;
  background: #F2F5F7;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-transform: lowercase; }
  .article__tags a:before {
    content: '#';
    color: #ea1c24;
    margin-right: 1px;
    position: relative;
    top: 1px; }
  .article__tags a:hover {
    background: #ea1c24;
    color: #ffffff; }
    .article__tags a:hover:before {
      color: #ffffff; }

.sportlatest.gfLatestNews .news__tabs li:hover,
.sportpopular.gfPopularNews .news__tabs li:hover {
  border-color: #34679b; }
.sportlatest.gfLatestNews .news__tabs li.active,
.sportpopular.gfPopularNews .news__tabs li.active {
  border-color: #34679b; }
.sportlatest.gfLatestNews .news__list li .news__time,
.sportpopular.gfPopularNews .news__list li .news__time {
  color: #34679b; }
.sportlatest.gfLatestNews .news__list li h3 a:hover,
.sportpopular.gfPopularNews .news__list li h3 a:hover {
  color: #34679b; }
.sportlatest.gfLatestNews > a,
.sportpopular.gfPopularNews > a {
  color: #34679b; }
  .sportlatest.gfLatestNews > a .fa-chevron-right,
  .sportpopular.gfPopularNews > a .fa-chevron-right {
    color: #34679b; }

.news__tabs {
  /* 0 - 1023 */
  margin-bottom: 20px; }
  @media (min-width: 0) and (max-width: 63.9375em) {
    .news__tabs {
      margin-top: 20px; } }
  .news__tabs li {
    display: inline-block;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold; }
    .news__tabs li a {
      color: #C5C5C5; }
    .news__tabs li.active {
      border-color: #ea1c24; }
      .news__tabs li.active a {
        color: initial; }
    .news__tabs li:hover {
      border-color: #ea1c24; }
      .news__tabs li:hover a {
        color: initial; }

.news__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 40px; }
  .news__list li h3 {
    width: calc(100% - 35px - 15px);
    font-size: 16px; }
  .news__list li:before {
    content: "";
    position: absolute;
    left: 17px;
    top: 45px;
    background: #ebebeb;
    height: calc(100% - 50px);
    width: 1px;
    display: block; }
  .news__list li:last-child:before {
    content: none; }

.news__time {
  width: 35px;
  color: #ea1c24;
  text-align: center; }
  .news__time span:first-child {
    font-size: 20px;
    font-weight: bold; }
  .news__time span:last-child {
    display: block;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: -5px; }

.article__content .wp-block-embed-tiktok .wp-block-embed__wrapper blockquote {
  /* 768+ */
  /* 1366+*/
  float: none;
  clear: none;
  padding-top: 0;
  position: static; }
  @media (min-width: 48em) {
    .article__content .wp-block-embed-tiktok .wp-block-embed__wrapper blockquote {
      max-width: unset;
      margin: 15px auto; } }
  @media (min-width: 85.375em) {
    .article__content .wp-block-embed-tiktok .wp-block-embed__wrapper blockquote {
      margin: 15px auto; } }
  .article__content .wp-block-embed-tiktok .wp-block-embed__wrapper blockquote:before {
    content: "";
    position: static;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    height: unset; }

.article__content figure.wp-block-embed-youtube {
  margin: 16px 0; }
  .article__content figure.wp-block-embed-youtube .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
    @media only screen and (max-width: 500px) {
      .article__content figure.wp-block-embed-youtube .wp-block-embed__wrapper {
        height: 280px;
        width: 100%; } }
    .article__content figure.wp-block-embed-youtube .wp-block-embed__wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.article__content figure.wp-block-embed-twitter {
  max-width: 100%;
  /* 0 - 479 */ }
  @media (min-width: 0) and (max-width: 29.9375em) {
    .article__content figure.wp-block-embed-twitter {
      max-width: 320px; } }
  .article__content figure.wp-block-embed-twitter .twitter-tweet {
    margin-left: auto;
    margin-right: auto; }

.article__content .twitter-tweet-rendered {
  /* 0 - 767 */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .article__content .twitter-tweet-rendered {
      max-width: 320px; } }
  @media screen and (max-width: 320px) {
    .article__content .twitter-tweet-rendered {
      max-width: 280px; } }

@media only screen and (min-width: 376px) and (max-width: 575px) {
  .article__content figure.wp-block-embed-facebook .wp-block-embed__wrapper .fb_iframe_widget > span {
    width: 100% !important; } }
.article__content figure.wp-block-embed-facebook .wp-block-embed__wrapper {
  text-align: center; }

@media screen and (max-width: 375px) {
  .article__content figure.wp-block-embed-facebook .wp-block-embed__wrapper {
    max-width: 320px;
    overflow: hidden; } }
.article__content figure.wp-block-embed-instagram .instagram-media {
  margin-left: auto !important;
  margin-right: auto !important; }

@media screen and (max-width: 360px) {
  .article__content figure.wp-block-embed-instagram {
    width: auto !important;
    max-width: 320px !important; }
    .article__content figure.wp-block-embed-instagram .wp-block-embed__wrapper {
      max-width: 320px;
      overflow: hidden; } }
.fb__page {
  width: 340px;
  display: block;
  margin: auto;
  /* 0 - 767 */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .fb__page {
      width: 100%; } }

.fb-page blockquote {
  /* 0 - 767 */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .fb-page blockquote {
      margin-top: 15px; } }

.categoryPageNameLink {
  color: #ea1c24;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px; }

.ahtrefile {
  float: none;
  /* 1366+*/
  /* 768 - 1365 */ }
  @media (min-width: 85.375em) {
    .ahtrefile {
      max-width: 800px; } }
  @media (min-width: 48em) and (max-width: 85.3125em) {
    .ahtrefile {
      max-width: 600px; } }

.ahtrefileParagraph p {
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  border-left: 8px solid #ea1c240d;
  border-right: 8px solid #ea1c240d;
  white-space: pre-wrap; }

.ahtrefileParagraph p:last-child {
  border-bottom: 8px solid #ea1c240d; }

.ahtrefileParagraph p:first-child {
  border-top: 8px solid #ea1c240d; }

.wp-block-embed-twitter {
  max-width: 100%; }

.fb-post.fb_iframe_widget.fb_iframe_widget_fluid {
  max-width: 80vw !important;
  margin: 0 auto; }
  .fb-post.fb_iframe_widget.fb_iframe_widget_fluid span {
    width: 100% !important; }
    .fb-post.fb_iframe_widget.fb_iframe_widget_fluid span iframe {
      position: unset;
      width: 100% !important;
      height: 100% !important; }

.keyFeatured {
  width: 100%;
  text-align: right;
  padding-right: 20px;
  /* 1024+*/ }
  @media (min-width: 64em) {
    .keyFeatured {
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;
      text-align: unset;
      min-height: 20px; } }
  .keyFeatured span {
    width: 100%;
    text-align: right;
    font-style: italic;
    /* 1024+*/ }
    @media (min-width: 64em) {
      .keyFeatured span {
        width: 50%; } }

.keyFeatured:before {
  /* 1024+*/ }
  @media (min-width: 64em) {
    .keyFeatured:before {
      content: "";
      display: block;
      width: 50%;
      height: auto; } }

.keySingle {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-style: italic; }

@media screen and (max-width: 320px) {
  .article__center {
    padding: 0; }
    .article__center .article__content p,
    .article__center .article__content h1, .article__center .article__content h2, .article__center .article__content h3, .article__center .article__content h4, .article__center .article__content h5, .article__center .article__content h6 {
      max-width: 280px;
      margin: 0 auto; }
    .article__center .article__content .article__related {
      max-width: 280px;
      margin: 0 auto 20px auto; }
    .article__center .article__content .keySingle {
      max-width: 280px;
      margin: 0 auto 20px auto; }
    .article__center .article__right .gfLatestNews, .article__center .article__right .gfPopularNews {
      padding-left: 10px; }
    .article__center .article__left .article__aside-left {
      padding-left: 10px; } }
.mobileAppShare {
  font-size: 20px;
  padding-right: 10px; }

.mobileAppShareWhatsApp {
  font-size: 22px;
  padding-right: 10px; }

.socialApp {
  align-items: center; }

.pswp__caption .pswp__caption__center {
  text-transform: uppercase; }

main > #Billboard {
  display: flex;
  justify-content: center; }

.sinleSmallImage {
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    .sinleSmallImage {
      max-width: 400px !important; } }

.widgetAreaMobile {
  margin-top: 20px; }

.sportContainer .siPagination .active {
  background: #34679b !important;
  border: #34679b !important; }
.sportContainer .siPagination li a:hover {
  color: #34679b; }

.page-template-customCategory .sportCategoryPage .sportCategoryTitle,
.page-template-app .sportCategoryPage .sportCategoryTitle {
  display: none; }
.page-template-customCategory .sportCategoryPage .news__category .categoryAuthor a,
.page-template-app .sportCategoryPage .news__category .categoryAuthor a {
  color: #34679b; }
.page-template-customCategory .sportCategoryPage h2 a:hover,
.page-template-app .sportCategoryPage h2 a:hover {
  color: #34679b; }
.page-template-customCategory .sportCategoryPage .siPagination .active,
.page-template-app .sportCategoryPage .siPagination .active {
  background: #34679b;
  border: #34679b; }
.page-template-customCategory .siPagination .active,
.page-template-app .siPagination .active {
  background: #ea1b24;
  border-color: #ea1b24; }
  .page-template-customCategory .siPagination .active a:hover,
  .page-template-app .siPagination .active a:hover {
    color: white; }

.siCategory {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.category__title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  /* 0 - 1365 */
  /* 1366+*/ }
  .category__title.sportTitle span {
    color: #34679b; }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .category__title {
      margin-bottom: 20px; } }
  @media (min-width: 85.375em) {
    .category__title {
      margin-bottom: 30px; } }
  .category__title h1 {
    font-size: 42px;
    font-weight: bold; }
    .category__title h1 span {
      color: #ea1c24; }

.category__left {
  /* 0 - 1365 */
  /* 1366+*/ }
  .category__left .sportCategoryPage .homepageNews {
    padding: 0; }
    .category__left .sportCategoryPage .homepageNews .box .box__left {
      width: 100%;
      border-right: none; }
    .category__left .sportCategoryPage .homepageNews .box .box__right {
      display: none; }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .category__left {
      width: 100%; } }
  @media (min-width: 85.375em) {
    .category__left {
      width: calc(100% - 336px - 30px);
      padding-right: 30px;
      border-right: 1px solid #ebebeb; } }
  .category__left .banner.banner__top {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }

.category__right {
  /* 0 - 1365 */
  /* 1366+*/ }
  .category__right .banner.banner--desktop.banner--space-bottom {
    margin-bottom: 30px; }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .category__right {
      width: 100%; } }
  @media (min-width: 85.375em) {
    .category__right {
      width: 336px; } }
  .category__right .banner {
    width: 336px;
    margin: 0 auto;
    /* 0 - 1365 */ }
    @media (min-width: 0) and (max-width: 85.3125em) {
      .category__right .banner {
        width: 100%;
        text-align: center; } }

.siPagination {
  /* 0 - 1365 */
  /* 1366+*/
  /* 0 - 479 */ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .siPagination {
      margin: 20px 0 40px; } }
  @media (min-width: 85.375em) {
    .siPagination {
      margin-top: 40px; } }
  .siPagination ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center; }
  .siPagination li {
    margin: 0 10px; }
    .siPagination li.active {
      border-color: #ea1c24;
      background: #ea1c24;
      color: #ffffff; }
  .siPagination li.active a {
    color: #ffffff; }
  .siPagination span, .siPagination a {
    height: 46px;
    min-width: 46px;
    padding: 0 10px;
    border: 1px solid #ebebeb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (min-width: 0) and (max-width: 29.9375em) {
    .siPagination li {
      flex: 1; }
    .siPagination li:not(.active):not(:first-child):not(:last-child) {
      display: none; } }

.activePageMobile {
  height: 46px;
  min-width: 46px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #ea1c24;
  background: #ea1c24;
  color: #fff; }

.firstPageMobile,
.lastPageMobile,
.firstPageNextMobile,
.lastPagePreviousMobile {
  flex: 0 !important; }

#infiniteLoader {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #FF0000;
  /* Red */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }
  #infiniteLoader.sportLoader {
    border-top: 16px solid #34679b !important;
    /* Blue */ }
  #infiniteLoader.hiddenLoader {
    display: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.kolumneAuthor {
  margin-top: 5px; }

.categoryAuthor {
  display: flex !important;
  flex-direction: column !important; }

.categoryKolumneAuthor {
  width: min-content !important; }

.category__kolumne__tpl3 {
  background-color: transparent !important;
  margin-bottom: 5px !important; }

#InFeed_1,
#InFeed_2,
#InFeed_3 {
  margin: 0 auto 1rem auto;
  width: 100%;
  text-align: center; }

.banner #InFeed_1,
.banner #InFeed_2,
.banner #InFeed_3 {
  margin: unset; }

.sportContainer .box__title {
  color: #34679b;
  border-bottom: 8px solid #34679b; }
.sportContainer .akla_title_PSrpRSR span {
  color: #34679b !important; }

.staticWrapper, .staticWrapperMarketing, .staticWrapperImpressum {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0; }

.staticWrapperImpressum, .staticWrapperMarketing {
  display: flex;
  flex-direction: column;
  align-items: center; }

.staticWrapper p {
  margin-bottom: 20px; }

.staticWrapperMarketing h2 {
  font-size: 36px;
  color: #c00;
  margin-bottom: 32px; }
.staticWrapperMarketing img {
  display: block;
  width: 225px;
  height: 148px;
  margin: 0 auto; }
.staticWrapperMarketing p {
  margin-bottom: 10px; }

.staticWrapperImpressum h2 {
  font-size: 36px;
  margin-bottom: 36px;
  text-align: center; }
.staticWrapperImpressum h3 {
  margin-bottom: 25px;
  text-align: center; }
.staticWrapperImpressum p {
  margin-bottom: 10px;
  text-align: center; }
.staticWrapperImpressum img:last-child {
  margin-top: 36px; }

.blicNaslovnaPage {
  margin: 0 auto;
  width: 100%; }

.impressumContainer > div {
  display: flex;
  align-items: center;
  justify-content: center; }
  .impressumContainer > div figure:first-child {
    width: 200px; }

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 300px;
  margin: 0 auto; }

#myImg:hover {
  opacity: 0.7; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 100%; }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

#homepageNews .wp-block-column,
#homepageNews .wp-block-columns {
  all: unset; }

.gfLatestNews :hover,
.gfPopularNews :hover {
  cursor: pointer; }

.gfLatestNews > a,
.gfLatestNews > p > a {
  font-weight: 700;
  color: #ea1c24;
  margin-left: 75%;
  /* 0 - 1365 */ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .gfLatestNews > a,
    .gfLatestNews > p > a {
      margin-left: 70%; } }

.gfPopularNews > a,
.gfPopularNews > p > a {
  font-weight: 700;
  color: #ea1c24;
  margin-left: 62%;
  /* 0 - 1365 */ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .gfPopularNews > a,
    .gfPopularNews > p > a {
      margin-left: 60%; } }
  @media only screen and (max-width: 320px) {
    .gfPopularNews > a,
    .gfPopularNews > p > a {
      margin-left: 45%; } }

.gfPopularNews > a > .fa-chevron-right,
.gfLatestNews > a > .fa-chevron-right,
.gfPopularNews > p > a > .fa-chevron-right,
.gfLatestNews > p > a > .fa-chevron-right {
  color: #ea1c24;
  font-size: small; }

.banner__top {
  width: 970px;
  /* 0 - 1365 */
  /* 1366+*/ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .banner__top {
      width: 320px;
      height: auto;
      margin: 20px auto 0; } }
  @media (min-width: 85.375em) {
    .banner__top {
      margin: 30px auto 0; } }

.banner--space-top {
  /* 0 - 1365 */ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .banner--space-top {
      margin-top: 20px; } }

.banner--space-bottom {
  /* 0 - 1365 */
  /* 1366+*/ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .banner--space-bottom {
      margin-bottom: 20px; } }
  @media (min-width: 85.375em) {
    .banner--space-bottom {
      margin-bottom: 30px; } }

@media (min-width: 85.375em) {
  .sticky__area {
    height: 1000px; }

  .sticky {
    position: sticky;
    top: 181px; }

  .hidden .sticky {
    top: 81px; } }
/* 1366+*/
.article__right .banner {
  margin-left: auto;
  margin-right: auto;
  width: 336px;
  /* 0 - 1365 */ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .article__right .banner {
      width: 100%;
      text-align: center; } }

.box__right .banner {
  width: 336px; }

.banner__article {
  margin-bottom: 20px;
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    .banner__article {
      width: max-content;
      margin: 0 auto 16px; } }

.banner--desktop {
  /* 0 - 1365 */ }
  @media (min-width: 0) and (max-width: 85.3125em) {
    .banner--desktop {
      display: none; } }

.banner--mobile {
  /* 1366+*/
  margin-left: auto;
  margin-right: auto;
  width: max-content; }
  @media (min-width: 85.375em) {
    .banner--mobile {
      display: none; } }
  .banner--mobile.banner--sticky {
    position: sticky;
    top: 0;
    z-index: 1000; }

.banner.banner--desktop.banner__top,
.banner.banner__top {
  /* 1366+*/ }
  @media (min-width: 85.375em) {
    .banner.banner--desktop.banner__top,
    .banner.banner__top {
      min-height: 250px;
      text-align: center; } }

.banner.banner--mobile.banner--sticky.banner--sticky_billboard.banner--space-top {
  /* 0 - 767 */ }
  @media (min-width: 0) and (max-width: 47.9375em) {
    .banner.banner--mobile.banner--sticky.banner--sticky_billboard.banner--space-top {
      min-height: 100px; } }

.a2a_button_facebook,
.a2a_button_twitter,
.a2a_button_whatsapp,
.a2a_button_viber {
  border-radius: 50%; }

.a2a_button_facebook:hover,
.a2a_button_twitter:hover,
.a2a_button_whatsapp:hover,
.a2a_button_viber:hover {
  background-color: #fde8e9; }

.addtoany_list {
  display: flex; }

.loadingWrapper {
  height: 100px;
  display: none;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.loading {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: red;
  border-right-color: red;
  animation: spin  0.5s infinite forwards; }

/*# sourceMappingURL=style.css.map */
