// fix carousel from jumping ( get independent class and show just first slide - others will be shown bellow it when loaded)
.home-carousel {
    .carousel-item {
        display: none !important;
        &:first-child {
            display: block !important;
        }
    }
}