.oldGallery {
  width:70%;
  .firstImageOldGallery {
    position:relative;
    .firstImageContent {
      .caption {
        padding-right:1rem;
        text-align:right;
        color:#FFF;
        font-style:italic;
        width:100%;
        position:absolute;
        bottom:0;
        background-color:rgba(0, 0, 0, 0.5);
      }
    }
  }
  .restOfTheImages {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding:0 2rem;
    a {
      transition: transform .2s;
      max-width:100px;
      max-height:80px;
      margin-right: 10px;
      margin-top:10px;
      @include desktop-up {
        &:hover {
          transform: scale(1.3);
        }
      }
      &:last-child {
        margin-right:0;
      }
      img {
        width:100%;
        height:100%;
      }
    }
  }
}

