.footer {
    font-size: 14px;
    margin: 40px 0;
    .container {
        @include desktop-up {
            padding: 40px;
            border-bottom: 1px solid $border;
        }
        border-top: 2px solid $red;
    }
}
.footer__top {
    @include flexbox();
    @include phone {
        flex-direction: column;
    }
    justify-content: space-between;
    padding-bottom: 40px;
    h3 {
        font-weight: bold;
        margin-bottom: 20px;
    }
    li {
        margin-bottom: 10px;
    }
}
.footer__menu {
    @include phone-up {
        width: 75%;
    }
    @include flexbox();
    flex-wrap: wrap;
    @include phone {
        flex-direction: column;
    }
    h3 {
        width: 100%;
    }
    ul {
        @include phone-up {
            flex: 1;
        }
    }
}
.footer__social {
    @include phone {
        margin-top: 20px;
    }
    @include phone-up {
        width: 25%;
    }
    span {
        width: 18px;
        display: inline-block;
    }
}
.footer__bottom {
    @include flexbox();
    justify-content: space-between;
    @media only screen and (max-width: 320px) {
        ul {
            font-size:12px;
        }
    }
    @include phone {
        flex-direction: column;
        span {
            padding-top: 20px;
        }
    }
    nav ul {
        @include flexbox();
        li {
            a:after {
                content: "|";
                display: inline-block;
                position: relative;
                top: 0;
                right: 0;
                padding-left: 12px;
                padding-right: 12px;
                box-sizing: border-box;
            }
            &:last-child a:after {
                content: none;
            }
        }
    }
}