body.hidden {
    .subNav {
        @include desktop-up {
            transform: translateY(-131px);
        }
    }
}
.subNav {
    display:block !important;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index:999;
    background:#4977a5;
    position: sticky;
    top:0;
    margin-bottom:0.5rem;
    @include desktop-up {
        line-height:45px;
        top:130px;
    }
    ul {
        display:flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width:600px) {
            justify-content:space-between;
        }
        li {
            @media only screen and (max-width:600px) {
                flex-grow:1;
                &:nth-of-type(2n) {
                    background:#4977a5;
                }
            }
            #homeLink {
                display: flex;
                justify-content: center;
                align-items:center;
                gap:0.4rem;
                cursor:pointer;
            }
            a {
                text-transform:uppercase;
                padding:0.5rem 2.5rem;
                display:block;
                color:white;
                text-align:center;
                font-weight:600;
                font-size:14px;
                background:#4977a5;
                &.highlight {
                    background:#355476;
                }
                @media only screen and (max-width:600px) {
                    font-weight:bold;
                    font-size:12px;
                    padding:1rem 0.7rem;
                }
                @media only screen and (max-width:389px) {
                    font-size:8px;
                }
                &:hover {
                    background:#355476;
                }
            }
            #backToBaseHome {
                @include desktop-up {
                    width:50px;
                }
                width:32px;
            }
        }
    }
}
.header {
    .sportTopBar {
        background:#355476;
        height:30px;
        padding-right:2rem;
        @include phone-and-tablet {
            display:none;
        }
        .social {
            height:100%;
            align-items:center;
            ul {
                li {
                    a {
                        width:24px;
                        height:24px;
                        span {
                            display:flex;
                            svg {
                                color:white;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &.sportHeader {
        .header__top {
            justify-content:unset;
            padding:0;
            >* {
                flex:unset;
            }
            .menu {
                padding-right: 2rem;
                display: flex;
                align-items: center;
                margin-left:auto;
                @include phone-and-tablet {
                    height: 20px;
                    padding-right: 0.5rem;

                }
            }
            .dummyDiv {
                width:38.5%;
                background:#e12027;
                height:100px;
                @media only screen and (width:1536px) {
                    width:36%;
                }
                @media only screen and (width:1440px) {
                    width:35%;
                }
                @media only screen and (width:1366px) {
                    width:34.5%;
                }
                @media only screen and (width:1280px) {
                    width:33%;
                }
                @media only screen and (width:1240px) {
                    width:33.5%;
                }
                @media only screen and (width:1024px) {
                    width: 29.5%;
                }
                @media only screen and (width:768px) {
                    width:22.5%;
                }
                @media only screen and (max-width:767px) {
                    width:18%;
                    height:56px;
                }
                &.appDummyDiv {
                    width:1%;
                }
            }
            .logo {
                position:relative;
                display:flex;
                .backArrow {
                    color:white;
                    background:#e12027;
                    display:flex;
                    align-items: flex-start;
                    padding: 1rem 0.5rem;
                    min-width:26px;
                    @media only screen and (width:768px) {
                        padding:0.6rem 0.5rem;
                    }
                    @media only screen and (max-width:767px) {
                        padding:0.3rem 0.5rem;
                    }
                }
                a {
                    position:absolute;
                    width:160px;
                    height:100%;
                }
                img {
                    width:320px;
                    @include phone {
                        width:180px;
                    }
                }
            }
            .backButtonWrapper {
                width:10%;
                text-align:center;
            }
            .reloadButtonWrapper {
                width:10%;
                text-align:center;
            }
        }
    }
    z-index:999;
    @include desktop-up {
        position: sticky;
        top: 0;
    }
    background: #FFFFFF;
    @extend .animation;
    .header__top {
        @include phone-and-large-phone {
            padding: 10px 20px;
        }
        @include tablet-up {
            padding: 20px;
        }
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        > * {
            flex: 1;
        }
    }
    .menu__button {
        cursor: pointer;
        .fa-bars {
            @include desktop-up {
                font-size:25px;
            }
        }
    }
    .menu {
        svg:last-child {
            background: #fff;
            position: relative;
            top: 8px;
            left: -10px;
            border-radius: 50%;
            padding: 1px;
            width: 17px;
            height: 17px;
            transform: rotate(90deg);
            @include desktop-up {
                width:25px;
                height:25px;
            }
        }
    }
    .logo a {
        @include phone-and-tablet {
            width: 180px;
        }
        width: 320px;
        margin: 0 auto;
        display: block;
    }
    .social {
        justify-content: flex-end;
        @include phone-and-tablet {
            ul {
                display: none;
            }
        }
    }
    .header__bottom {
        &.categoryHeader {
           display:none;
        }
        border-top: 1px solid $border;
        @include desktop-up {
            border-bottom: 1px solid $border;
        }
        .container {
            padding:0;
            &.containerHeader {
                max-width:1400px;
                padding:0;
            }
        }
    }
    nav {
        width: 100%;
        @include phone-and-tablet {
            display: none;
        }
        ul {
            @include flexbox();
            align-items: center;
            .highlightCategoryHeader {
                background:#ea1c24;
                color:white;
                a {
                    color: white;
                }
            }
            a {
                -webkit-transition: hover 300ms ease;
                -moz-transition: hover 300ms ease;
                -o-transition: hover 300ms ease;
                transition: hover 300ms ease;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                line-height: 60px;
                letter-spacing: .4px;
                display: block;
                padding:0 0.5rem;
            }
            img {
                width: auto;
                height: 60px;
            }
            .active {
                position: relative;
                a {
                    color: $red;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    background: $red;
                    width: 100%;
                }
            }
            .mainNavSportLink {
                background:$blue;
                transition: 0.3s ease all;
                &:hover {
                    background:#4977a5;
                }
                a {
                    color:white;
                }
            }
        }
    }
}
.social {
    @include flexbox();
    li {
        float: left;
        margin-left: 12px;
        &:first-child {
            margin-left: 0;
        }
        a {
            width: 32px;
            height: 32px;
            @include border-radius(50%);
            border: 1px solid $border;
            @include flexbox();
            justify-content: center;
            align-items: center;
            &:hover {
                background: $red;
                border-color: $red;
                svg {
                    color: #ffffff;
                }
            }
        }
    }
}
// hide and show header top
@include desktop-up {
    body.hidden {
        .header {
            transform: translateY(-100px);
        }
    }
}

// sponsor top menu item
.header nav ul .sponsor {
    display:flex;

}
nav ul .sponsor {
    display:flex;
}
.aside-menu__scroll .sponsor__logo span {
    color:white;
}
.header nav ul .sponsor a:first-child {
    @include desktop-up {
        padding-right:0;
    }
}
.header nav ul .sponsor a {
    @include flexbox();
    align-items: center;
}
.header nav ul .sponsor__logo {
    @include flexbox();
    align-items: center;
    span {
        margin: 0 5px;
    }
    img {
        height: 40px;
    }
}
// sponsor mobile menu item
.aside-menu__scroll .sponsor a {
    @include flexbox();
    align-items: center;
}
.aside-menu__scroll .sponsor__logo {
    @include flexbox();
    align-items: center;
    margin-left: auto;
    span {
        margin: 0 5px;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
    }
    img {
        height: 40px;
    }
}
.specialSubSportCategoryLink {
    order:3;
}
.specialSubSportCategoryLink a {
    background: rgb(255,5,237) !important;
    background: linear-gradient(160deg, rgba(255,5,237,1) 0%, rgba(136,22,58,1) 0%, rgba(49,5,32,1) 100%) !important;
}
@media (max-width:1365px) {
    .hiddenSubItem {
        display:none;
    }
}