.a2a_button_facebook,
.a2a_button_twitter,
.a2a_button_whatsapp,
.a2a_button_viber {
border-radius: 50%;
 }
.a2a_button_facebook:hover,
.a2a_button_twitter:hover,
.a2a_button_whatsapp:hover,
.a2a_button_viber:hover {
  background-color:rgb(253, 232, 233);
}
.addtoany_list {
  display:flex;
}

