* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
figure {
    margin: 0;
}
.clear {
    clear: both;
}
fieldset {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
textarea:focus, input:focus{
    outline: none;
}
input, select, textarea {
    border: 0;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
*:focus {
    outline: 0;
}