.loadingWrapper{
  height: 100px;
  display: none;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: red;
  border-right-color: red;
  animation: spin  0.5s infinite forwards;
}