.sportContainer {
  .siPagination {
    .active {
      background:$blue !important;
      border:$blue !important;
    }
    li {
      a {
        &:hover {
          color:$blue;
        }
      }
    }
  }
}

.page-template-customCategory,
.page-template-app {
  .sportCategoryPage {
    .sportCategoryTitle {
      display: none;
    }

    .news__category {
      .categoryAuthor {
        a {
          color: $blue
        }
      }
    }

    h2 {
      a {
        &:hover {
          color: $blue;
        }
      }
    }
    .siPagination {
      .active {
        background:$blue;
        border:$blue;
      }
    }
  }
  .siPagination {
    .active {
      background:#ea1b24;
      border-color:#ea1b24;
      a {
        &:hover {
          color:white;
        }
      }
    }
  }
}
.siCategory {
  @include flexbox();
  justify-content: space-between;
  flex-wrap: wrap;
}

.category__title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $border;
  padding-bottom: 20px;
  &.sportTitle {
    span {
      color:$blue;
    }
  }
  @include phone-and-tablet {
    margin-bottom: 20px;
  }
  @include desktop-up {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 42px;
    font-weight: bold;
    span {
      color: $red;
    }
  }
}

.category__left {
  .sportCategoryPage {
    .homepageNews {
      padding:0;
      .box {
        .box__left {
          width:100%;
          border-right: none;
        }
        .box__right {
          display:none;
        }
      }
    }
  }
  @include phone-and-tablet {
    width: 100%;
  }
  @include desktop-up {
    width: calc(100% - 336px - 30px);
    padding-right: 30px;
    border-right: 1px solid $border;
  }
  .banner.banner__top {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.category__right {
  .banner.banner--desktop.banner--space-bottom {
    margin-bottom:30px;
  }
  @include phone-and-tablet {
    width: 100%;
  }
  @include desktop-up {
    width: 336px;
  }

  .banner {
    width: 336px;
    margin: 0 auto;
    @include phone-and-tablet {
      width: 100%;
      text-align: center;
    }
  }
}

// pagination
.siPagination {
  @include phone-and-tablet {
    margin: 20px 0 40px;
  }
  @include desktop-up {
    margin-top: 40px;
  }

  ul {
    @include flexbox();
    justify-content: center;
    align-items: center;
  }

  li {
    margin: 0 10px;

    &.active {
      border-color: $red;
      background: $red;
      color: #ffffff;
    }
  }

  li {
    &.active a {
      color: #ffffff;
    }
  }

  span, a {
    height: 46px;
    min-width: 46px;
    padding: 0 10px;
    border: 1px solid $border;
    @include flexbox();
    justify-content: center;
    align-items: center;
  }

  @include small-phone {
    li {
      flex: 1;
    }
    li:not(.active):not(:first-child):not(:last-child) {
      display: none;
    }
  }
}

.activePageMobile {
  height: 46px;
  min-width: 46px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #ea1c24;
  background: #ea1c24;
  color: #fff;
}
.firstPageMobile,
.lastPageMobile,
.firstPageNextMobile,
.lastPagePreviousMobile {
  flex:0 !important;
}

#infiniteLoader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #FF0000; /* Red */
  &.sportLoader {
    border-top: 16px solid $blue !important; /* Blue */
  }
  &.hiddenLoader {
    display:none;
  }
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kolumneAuthor {
  margin-top:5px;
}

.categoryAuthor {
  display:flex !important;
  flex-direction: column !important;
}
.categoryKolumneAuthor {
  width:min-content !important;
}

.category__kolumne__tpl3{
  background-color:transparent !important;
  margin-bottom: 5px !important;
}
#InFeed_1,
#InFeed_2,
#InFeed_3 {
  margin:0 auto 1rem auto;
  width:100%;
  text-align: center;
}
.banner #InFeed_1,
.banner #InFeed_2,
.banner #InFeed_3 {
  margin:unset;
}


.sportContainer {
  .box__title {
    color:$blue;
    border-bottom:8px solid $blue;
  }
  .akla_title_PSrpRSR {
    span {
      color:$blue !important;
    }
  }
}