.staticWrapper, .staticWrapperMarketing, .staticWrapperImpressum {
  width:80%;
  margin: 0 auto;
  padding:30px 0;
}
.staticWrapperImpressum, .staticWrapperMarketing {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.staticWrapper {
    p {
      margin-bottom:20px;
    }
}
.staticWrapperMarketing {
    h2 {
      font-size:36px;
      color:#c00;
      margin-bottom:32px;
    }
  img {
    display:block;
    width:225px;
    height:148px;
    margin:0 auto;
  }
  p {
    margin-bottom:10px;
  }
}
.staticWrapperImpressum {
  h2 {
    font-size:36px;
    margin-bottom:36px;
    text-align:center;
  }
  h3 {
    margin-bottom:25px;
    text-align:center;
  }
  p {
    margin-bottom:10px;
    text-align:center;
  }
  img:last-child {
    margin-top:36px;
  }
}
.blicNaslovnaPage {
  margin: 0 auto;
  width: 100%;
}

.impressumContainer {
  &> div {
    display: flex;
    align-items: center;
    justify-content: center;
    figure {
      &:first-child {
        width:200px;
      }
    }
  }
}